body{
    margin: 0px;
}
.date{
    font-family: 'Roboto';
}
.post-content{
    font-family: 'Open Sans';
}
h1{
    font-family: 'Montserrat';
}
.post-container{
    background-color: #fff1e4;
    width: 70%;
    margin: 0px auto 20px auto;
}
.post-container .post{
    padding: 20px 90px 30px 60px;
}
.post-container .date{
    color: rgb(0, 145, 133);
}